body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
/* Navbar */
.navbar {
    min-height: 45px !important;
    margin-bottom: 0;
    border-radius: 0; 
}
.navbar-nav > li > a, .navbar-brand{
/*    padding-top:10px !important;*/
    padding-bottom:34px !important; 
    height: 33px; 
}
.navbar-brand>img {
    margin-top: -10px;
}
.navbar-default {
  background-color: #9f0000;
  border-color: #9f0000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}
.bg-top {
    z-index: -10px;
}
.text-top {
    z-index: 5px;
    color: #434242;
    text-align: center;
    margin-top: -550px;
    font-weight: bold;
    font-size: 40px;
}
.profile {
    background-color: #443737;
    border-radius: 100px 0px 0px 100px;
    margin-top: 5px;
    margin-right: -30px;
	
	height:1500px;
}
.img-profile {
    height: 155px;
    border: 3px solid #fff;
    
}
.profile-info {
    color: #fff;
    margin-left: 41px;
}
.subj-code {
    max-width: 58%;
}
hr {
    margin-right: 45px;
    margin-top: 9px;
}
.professor {
    margin-top: -48px;
    margin-bottom: -14px;
}
.name {
    font-size: 18px;
    font-weight: bold;
}
.boxed_item {
    border: 2px solid #fff;
    text-align: center;
    margin-right: 111px;
}
.boxed-title {
    border: 3px solid #000;
    font-weight: bold;
    max-width: 32%;
    padding: 5px;
}
.title {
    text-align-last: center;
    margin-left: -47px;
}
.info {
    margin-top: -10px;
    margin-bottom: -12px;
}
.questions {
    background-color: #fff;
    opacity: 0.80;
    z-index: 10px;
    margin-top: 5px;
    border-radius: 0px 100px 100px 0px;
}
.margin-questions {
    margin-left: 35px;
}
.score {
    font-weight: bold;
}
.score2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.checkbox, .radio {
    position: relative;
    display: -webkit-box;
    margin-top: -31px;
    margin-bottom: 15px;
    margin-left: 525px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 82%;
}
.footer-text {
    color: #434242;
    margin-top: 40px !important;
}

@media (max-width: 1300px) {
	.title {
		margin-left: -35px;
	}
	.profile-info {
		color: #fff;
		margin-left: 25px !important;
	}
	.numbering {
		margin-left: -47px;
	}
	
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefeff;
    background-color: #443737;
  }
  .welcome-text {
    display: none !important;    
  }
  #dropdownMenu1 {
    margin-left: 10px;    
  }
}