body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.navbar-default {
  background-color: #443737;
  border-color: #443737;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fefeff;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fefeff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fefeff;
  background-color: #443737;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fefeff;
  background-color: #443737;
}
.navbar-default .navbar-toggle {
  border-color: #443737;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #443737;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #fefeff;
}
.bg-top {
    z-index: -10px;
    margin-top: -40px;
}
.text-top {
    z-index: 5px;
    color: #fff;
    text-align: center;
    margin-top: 850px;
    font-weight: bold;
    font-size: 40px;
}
.profile {
    background-color: #443737;
    border-radius: 100px 0px 0px 100px;
    margin-top: 5px;
    margin-right: -30px;
}
.img-profile {
    height: 155px;
    border: 3px solid #fff;
    
}
.profile-info {
    color: #fff;
    margin-left: 41px;
}
.subj-code {
    max-width: 58%;
}
hr {
    margin-right: 85px;
    margin-top: 9px;
}
.professor {
    margin-top: -48px;
    margin-bottom: -14px;
}
.name {
    font-size: 18px;
    font-weight: bold;
}
.boxed_item {
    border: 2px solid #fff;
    text-align: center;
    margin-right: 111px;
}
.boxed-title {
    border: 3px solid #000;
    font-weight: bold;
    max-width: 36%;
    padding: 5px;
}
.department {
    margin-top: -10px;
    margin-bottom: -12px;
}
.questions {
    background-color: #fff;
    opacity: 0.80;
    z-index: 10px;
    margin-top: 5px;
    border-radius: 0px 100px 100px 0px;
}
.margin-questions {
    margin-left: 35px;
}
.score {
    font-weight: bold;
}
.score2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.checkbox, .radio {
    position: relative;
    display: -webkit-box;
    margin-top: -31px;
    margin-bottom: 15px;
    margin-left: 525px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 82%;
}
.footer-text {
    color: #fff;
    margin-top: 40px !important;
}
/*iMAC 21"*/
/* 1920 x 1080 */
@media screen and (max-width: 1920px) {
    .navbar.navbar-default.navbar-fixed-top{
        font-size: 25px;
    }
    .bg-top {
    z-index: -10px;
    margin-top: -40px;
    width: 15000px;
    height: 1000px;
    background-image: url('../images/redpattern.jpg');
    background-repeat-x: repeat !important;
    }
    .text-top {
        margin-top: -800px;
        font-size: 70px;
    }
    .container{
        width: 1590px !important;
    }
    h2 {
    font-size: 35px;
    }
    .boxed-title{
        max-width: 25%;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
    font-size: 21px;
    }
    h3 {
        font-size: 28px;    
    }
    .radio{
        margin-left: 830px;
        margin-top: -39px;
    }
    .checkbox label, .radio label {
        padding-left: 43px;
        margin-left: -21px;
    }
    .img-profile {
        height: 200px;
    }
    
    .subj-code {
    max-width: 69%;
    height: 38px;
    font-size: 20px;
    display: inline-block;
    }
    button#verify {
    margin-top: -10px;
    }
    .name {
    font-size: 26px;
    }
    hr {
        margin-right: 40px;
        margin-top: 9px;
    }
    
    .profile {
    height: 3397px !important;
    }
    .boxed-title {
    max-width: 23%;
    font-size: 42px;
    }
    
    .footer-text {
        font-size: 25px  !important;
    }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefeff;
    background-color: #443737;
  }
}