body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.navbar-default {
  background-color: #443737;
  border-color: #443737;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fefeff;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fefeff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fefeff;
  background-color: #443737;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fefeff;
  background-color: #443737;
}
.navbar-default .navbar-toggle {
  border-color: #443737;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #443737;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #fefeff;
}
.bg-top {
    z-index: -10px;
    margin-top: -40px;
}
.text-top {
    z-index: 5px;
    color: #fff;
    text-align: center;
    margin-top: 850px;
    font-weight: bold;
    font-size: 40px;
}
.profile {
    background-color: #443737;
    border-radius: 100px 0px 0px 100px;
    margin-top: 5px;
    margin-right: -30px;
}
.img-profile {
    height: 155px;
    border: 3px solid #fff;
    margin-left: 45px !important;
    
}
.profile-info {
    color: #fff;
    margin-left: 41px;
}
.subj-code {
    max-width: 58%;
}
hr {
    margin-right: 85px;
    margin-top: 9px;
}
.professor {
    margin-top: -48px;
    margin-bottom: -14px;
}
.name {
    font-size: 18px;
    font-weight: bold;
}
.boxed_item {
    border: 2px solid #fff;
    text-align: center;
    margin-right: 111px;
}
.boxed-title {
    border: 3px solid #000;
    font-weight: bold;
    max-width: 36%;
    padding: 5px;
}
.department {
    margin-top: -10px;
    margin-bottom: -12px;
}
.questions {
    background-color: #fff;
    opacity: 0.80;
    z-index: 10px;
    margin-top: 5px;
    border-radius: 0px 100px 100px 0px;
}
.margin-questions {
    margin-left: 35px;
}
.score {
    margin-top: 27px;
    font-weight: bold;
}
.score2 {
    font-weight: bold;
    margin-bottom: 27px;
}
.checkbox, .radio {
    position: relative;
    display: -webkit-box;
    margin-top: -31px;
    margin-bottom: 15px;
    margin-left: 525px;
}

textarea {
/*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
*/
    resize: none !important;
    width: 82%;
    background-color: #fffffb;
}
.footer-text {
    color: #fff;
    margin-top: 40px !important;
}
/*iMAC 21"*/
/* 1920 x 1080 */


@media (max-width: 1920px) { 
    .navbar-student {
        width: 1745px !important;
    }
     .navbar.navbar-default.navbar-fixed-top{
        font-size: 20px;
    }
     .bg-top {
    z-index: -10px;
    margin-top: -40px;
    width: 1920px;
    height: 1000px;
    background-image: url('../images/redpattern.jpg');
    background-repeat:repeat-x !important;
    }
    .scoring-space {
    display: inline;
    margin-left: 28px;
    }
    .text-top{
        margin-top: -844px;
        font-size: 40px;
    }
    h2 {
    font-size: 35px;
    }
    .boxed-title{
        max-width: 24%;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 18px;
    }
    h3 {
        font-size: 20px;    
    }
    .img-profile {
    margin-bottom: 30px !important;
    height: 168px !important;
    margin-top: -30px !important;
    }
    .radio {
    margin-left: 600px;
    margin-top: -30px;
    margin-bottom: -6px;
    }
    .checkbox label, .radio label {
        padding-left: 25px;
        margin-left: -5px;
    }
    .img-profile {
        height: 200px;
    }
    
    .subj-code {
        max-width: 88%;
        font-size: 18px;
    }
    
    .name {
        font-size: 18px;
    }
    hr {
        margin-right: 40px;
        margin-top: 9px;
    }
    
	.boxed_item {
    border: 2px solid #fff;
    text-align: center;
    margin-right: 35px;
	}

    .profile {
        height: 2862px !important;
    }
    
    .footer-text {
        font-size: 20px  !important;
    }
    
    
}

@media (max-width: 1680px) { 
    .navbar-student {
    width: 1400px !important;
    }
    .bg-top {
    z-index: -10px;
    margin-top: -40px;
    width: 1680px;
    height: 1000px;
    background-image: url('../images/redpattern.jpg');
    background-repeat:repeat-x !important;
    }
  
}
@media (max-width: 1440px) { 
    .navbar-student {
    width: 1255px !important;
    }
    .bg-top {
    width: 1440px;
    }

}
@media (max-width: 1300px) {
    .bg-top {
    width: 1300px;
    }
}
@media (max-width: 1280px) {
	 .navbar-student {
    width: 1200px !important;
    }
    .bg-top {
    width: 1280px;
    }
	
}
@media (max-width: 1024px) {
	 .navbar-student {
    width: 980px !important;
    }
    .bg-top {
    width: 1024px;
    }
    .radio {
    margin-left: 478px;
    margin-top: -30px;
    margin-bottom: -6px;
    }
    .margin-questions {
    margin-left: 24px;
    }
    .boxed-title {
    max-width: 28%;
    }
    .img-profile {
    margin-bottom: 30px !important;
    margin-left: 22px !important;
    height: 168px !important;
    margin-top: -30px !important;
    }
    hr {
    margin-right: 23px !important;
    margin-top: 9px;
    }
    .name {
    font-size: 16px;
    }
 
}
@media (max-width: 960px) {
    .navbar-student {
    width: 875px !important;
    }
    .bg-top {
    width: 960px;
    }
    .profile {
    height: 1335px !important;
    border-radius: 100px;
    margin-left: -30px;
    padding: 20px;
    }
    .img-profile {
    margin-left: 255px !important;
    }
    .questions {
    border-radius: 100px;
    width: 750px;
    margin-left: -30px;
    padding: 18px;
    }
    .radio {
    margin-left: 495px;
    }
   
}
@media (max-width: 800px) {
    .navbar-student {
    width: 769px !important;
    }
    .bg-top {
    width: 800px;
    }
    .profile {
    height: 1335px !important;
    border-radius: 100px;
    margin-left: 10px;
    padding: 20px 24px 20px 0px;
    width: 700px;
    }
    .img-profile {
    margin-left: 227px !important;
    }
    .questions {
    border-radius: 100px;
    width: 700px;
    margin-left: 10px;
    padding: 0px 0px 44px 0px;
    }
    .boxed-title {
    max-width: 28%;
    margin-left: 234px;
    }
    .margin-questions {
    margin-left: 17px;
    }


  
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefeff;
    background-color: #443737;
  }
}

@media (max-width: 640px) {
    .navbar-student {
    width: 614px !important;
   }
    .bg-top {
    width: 640px;
    background-repeat: repeat-x !important;
    }
    .profile {
    margin-left: 7px;
    padding: 20px 24px 20px 0px;
    width: 600px;
    }
    .img-profile {
    margin-left: 185px !important;
    }
    .text-top {
    font-size: 40px;
    margin-left: -7px;
    } 
    .questions {
    width: 600px;
    margin-left: 7px;
    }
    .radio {
    margin-left: 30px;
    margin-top: 11px;
    margin-bottom: -10px;
    }
    .boxed-title {
    max-width: 32%;
    margin-left: 195px;
    }
    .footer-text {
    font-size: 16px !important;
    }
    
 
}