*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.fa-times{
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.2s ease-in-out;
}

.fa-times:hover{
	opacity: 1;
}

.hide_menu{
	margin-left: -250px;
	transition: all 0.3s ease-in-out;
}

.toggle_menu{
	position: fixed;
	padding: 15px 20px 15px 15px;
	margin-top: 70px;
	color: white;
	cursor: pointer;
	background-color: #648B79;
	opacity: 0;
	z-index: 10000;
	font-size: 2em; 
	transition: all 0.2s ease-in-out;
}

.opacity_one{
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

.toggle_menu:hover{
	background-color: #FE4365;
	transition: all 0.2s ease-in-out;
}

.logo_bold{
	font-weight: 800;
}

.logo_title{
	color: white;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
}

.menu_close{
	color: #D8D8D8;
	position: absolute;
	right: 8px;
	opacity: 0.7;
	top: 6px;
	font-size: 1.1em;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.menu_close:hover{
	color: #FE4365;
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

.navigation_section{
	margin: 20px 0;
	display: block;
	width: 200px;
	margin-left: 25px;
}

.navigation_item{
	font-weight: 200;
	font-family: 'Open Sans';
	color: white;
	padding: 12px 0px;
	box-sizing: border-box; 
	font-size: 14px;
	color: #D8D8D8;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.navigation_item:hover{
	color: white;
	transition: all 0.3s ease-in-out;
}


.boxed_item_smaller{
	font-size: 12px;
	color: #D8D8D8;
	width: 200px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border-width: 1px;
	margin: 0 0 20px 0;
}

.boxed_item_smaller:hover{
	background-color: white;
	color: #111;
	transition: all 0.3s ease-in-out;
}

/* Header */
#header {
    background: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 500px;
}

#header .create {
    padding-top: 20px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* Side Bar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 150%;
    overflow-y: hidden;
    background: #272c33;
    opacity: 0.9;
}

/* Main Content- Right */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/*Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar Styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li a:hover {
    background: #fff;
    color: #000;
}

/* sidebar-brand */

.sidebar-brand {
  padding: 15px 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4e4e52;
}

.sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/* sidebar-header */

.sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-header .user-pic {
  float: center;
  width: 250px;
  padding: 2px;
  border-radius: 22px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-header .user-info {
  float: left;
}

.sidebar-header .user-info > span {
  display: block;
  color: #fff;
}

.sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/* collapsible */
#tableContent, #chartContent, #userContent {
    margin-left: 40px;
}

/*icons */
.glyphicon.glyphicon-cog, .fa.fa-table,
.glyphicon.glyphicon-stats, .glyphicon.glyphicon-user {
    margin-left: -20px;
    margin-right: 15px;
}
.glyphicon.glyphicon-tasks {
    margin-top: 15px;
}
/* Right panel */
/* Header */
#header {
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    color: #000;
    padding-bottom: 14px;
    margin-bottom: 15px;
    margin-top: -12px;
}

#header .create {
    padding-top: 20px;
}

.dashboard-text {
    margin-left: 86px;
    margin-top: -35px;
}

.admin-text, .logout-text {
    margin-top: 15px;
}

/* Custom */
.panel-heading.main-color-bg {
    background-color: #F1F2F7;
}
.panel-body {
    background-color: #fff;
}
.dash-box {
    text-align:center;
}
.bg-color {
    background-color: #20a8d8;
    color: #fff;
}
.bg-color1 {
    background-color: #63c2de;
    color: #fff;
}
.bg-color2 {
    background-color: #ffc107;
    color: #fff;
}
.bg-color3 {
    background-color: #f86c6b;
    color: #fff;
}

/* Dashboard table */
.latest-users {
    margin-left: -15px;
}
.sales {
    margin-right: -16px;
}

.thead-dark {
    background: #212529;
    color: #fff;
}

/* Modals */
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}
.dropdown {
    border-radius: 4px;
    height: 34px;
}

@media (min-width: 1200px) {
.container {
    width: 1088px;
}
}
/* Media Queries */
    
/* Dashboard table */
@media screen and (max-width: 990px) {
.latest-users {
    margin-right: -15px;
}
.sales {
    margin-left: -16px;
}
}


