body {
    background: #fff;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* Navbar */
.navbar {
    min-height: 45px !important;
    margin-bottom: 0;
    border-radius: 0; 
}
.navbar-nav > li > a, .navbar-brand{
/*    padding-top:10px !important;*/
    padding-bottom:34px !important; 
    height: 33px; 
}
.navbar-brand>img {
    margin-top: -10px;
}
.navbar-default {
  background-color: #9f0000;
  border-color: #9f0000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg {
  background-color: #9f0000 !important;
  border-color: #9f0000 !important;
  color: #fff !important;
}
.list-group-item>.badge {
    float: left;
    margin-right: 15px;
}

/* Header */
#header {
    background: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}

/*collapsible */
.leftcontrol {
    margin-left: -60px;
}

/*home jumbotron */
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
}
/* home carousel */
#theCarousel {
  /* margin-right: 151px; */
    margin-right: 573px;
    text-align: center;
}
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-330%;
      }
      &.right{
        left:330%;
      }
    }
    .next{
      left: 330%;
    }
    .prev{
      left: -330%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
.img-size {
    width:120px;
}
.form-control {
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 14px;
}
.search-text {
    margin-left: 16px;
}
.show {
    height:100px;
    width:100px;
    z-index:50px;
    border: 1px solid black;
    transition: 1s all ease;
}
/*carousel*/
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
}  
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.btn-secondary {
    color: #000;
    border-color: #6c757d;
}
.btn-group, .btn-group-vertical {
	
    margin-left: 64px;
    margin-bottom: 20px;
}
.btn.btn-secondary.active {
    color: #fff;
    background-color: #6c757d;
}
/* end */
/*carousel course */
.ccarousel-width-height {
    width: 96% !important;
    height: 295px;
}
/* end */

/*performance appraisal page */
.bg-top {
  max-width: 100%;
}
.img-top {
  max-width: 100%;
  z-index: 10px;
  margin-top: -100px;
  margin-left: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.instructor {
  z-index: 50px;
  margin-top: -256px;
  margin-left: 472px;
  color: #728091 !important;
  font-family: 'Century Gothic' !important;
}
.subject {
  z-index: 50px;
  margin-top: 35px;  
  margin-left: 729px;
  color: #728091 !important;
  font-family: 'Century Gothic' !important;
}
.dept {
  z-index: 50px;
  margin-top: -1px;  
  margin-left: 613px;
  color: #728091 !important;
  font-family: 'Century Gothic' !important;
}
.date {
  z-index: 50px;
  margin-top: 0px;  
  margin-left: 536px;
  margin-bottom: 87px;   
  color: #728091 !important;
  font-family: 'Century Gothic' !important;
}
.img-score {
   max-width: 100%;
/*  z-index: 10px;*/
  margin-top: 20px;
  margin-left: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.border-scoring {
  border: 5px solid #fff;
  margin: 25px;
  height: 112px;
}
.scoring-bg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-2 {
  margin-top:180px;
  color: #000;
  z-index: 100px;
  margin-left: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 70.1%;
  background-repeat: repeat-y;
}
.questions {
  margin-left: 50px;
  margin-top: 30px;

}
.title {
    color: #728091 !important;
}
.radio {
    position:relative;
    margin-left: 684px;
    margin-top: -40px;
    margin-bottom: 35px;
}


/* end */

/* Footer */
.footer-b {
    text-align: center;
    color: #fff;
/*    margin-top: 180px !important;*/
    margin-top: 100px !important;
   
}
}
.footer-text {
    text-align: center;
    color: #434242;
    margin-top: 40px !important;
}
/*performance appraisal*/
@media (max-width: 1920px) { 
   /*performance appraisal*/
  .bg-top {
    max-width: 100%; 
    z-index: -30px;
  }
  .navbar-performance {
    width: 1745px;
  }
  .profile-bg {
    width: 1170px;
    height: 360px;
    margin-top: -126px;
    position: absolute;
    margin-left: 350px;
    background-color: #fff;    
  }
  .profile-imgprof {
    height: 263px;
    width: 193px;
    margin-left: 88px;
    margin-top: 48px;
    position: absolute; 
  }
  .line-prof {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 764px;
    margin-left: 336px;    
  }
  .img-top {
    width: 1170px;
    height: 360px;
    margin-top: -1px;
    position: absolute;
    margin-left: 0px;
  }
  .instructor {
    margin-top: 63px;
    margin-left: 329px;
    font-size: 55px;
  }
  .subject {
    margin-top: 13px;
    margin-left: 347px;  
    font-size: 12px;    
  }
  .dept {
    margin-top: -7px;
    margin-left: 297px;  
    font-size: 12px;        
  }
  .date {
    margin-top: -7px;
    margin-left: 263px;  
    font-size: 12px;   
    margin-bottom: 26px;
  }
  .img-score {
    margin-left: 120px;
    margin-bottom: -10px;
    max-width: 409px !important; 
  }
  .scoring-bg {
    background-color: #921c12;
    position: absolute;
    margin-top: 261px;
    margin-left: 350px;
    height: 160px;
  }
  .scoring-top {
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
  }
  .scoring-bottom {
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin-top: -5px;  
  }
  .spacing-score {
    display: inline;
    margin-left: 50px;
  }
  .bg-2 {
    margin-top: 450px;   
    margin-left: 350px;     
  }
  .questions {
    margin-left: 25px;
    margin-top: 45px;
  }
  .scoring-space {
    display: inline;
    margin-left: 23px;
  }
  .radio-group {
    margin-left: 250px;
    margin-top: 18px;
    margin-bottom: -25px;
  }
  h4 {
    font-size: 23px;
  }
  .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 66px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
  }
  input[type=radio], .radio-inline input[type=radio] {
    width: 20px;
  }
 
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .welcome-text {
    display: none !important;    
  }
  #dropdownMenu1 {
    margin-left: 10px;    
  }
  #theCarousel {
   margin-right: 0px; 
   
    text-align: center;
  }

}

