body {
    background: #fff;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
    min-height: 45px !important;
    margin-bottom: 0;
    border-radius: 0; 
}
.navbar-nav > li > a, .navbar-brand{
    padding-top:10px !important;
    padding-bottom:34px !important; 
    height: 33px; 
}
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg {
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #fff !important;
}

/* Header */
#header {
    background: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}

/* gallery html */
/*carousel*/
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
}  
.carousel-indicators {
    visibility: hidden;
}

/*gallery*/
.bootCols{
  margin:0;
  padding-left:23px;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    text-align: center;
    color: #e74c3c;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #e74c3c;

}
.btn-default:active .filter-button:active
{
    background-color: #e74c3c;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* info html */
/* Alignment of col-md-3 */
.col-md-3 {
    margin-top: 50px;
}

/* Rating Stars */
.rating {
     float:left;
     margin-top: -14px;
     font-size: 9px;
   }
   /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
     follow these rules. Every browser that supports :checked also supports :not(), so
     it doesn’t make the test unnecessarily selective */
   .rating:not(:checked) > input {
       position:absolute;
       top:-9999px;
       clip:rect(0,0,0,0);
   }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #FFC600;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #FFC600;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #FFC600;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }

/* Jumbotron */
.jumbotron {
    border: 5px solid #E5E5E5;
    background-color: #fff;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    
}
.btn-danger-text {
  color: #bd362f;
}
.qty-text {
  color: #99999F;
}

/* Input-Group */
.input-group {
    width: 55%;
}

/* Stock-Text */
.stock-text {
    color: #008A4F;
}
/* Details */
.details {
    margin-top: 5px;
    font-size: 14px !important;
}

/* Footer */
#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px; 
}
.footer-text {
    margin-top: 7px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}